* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.header{
  padding-left:100;
  padding-right:100;
  margin:0 auto;
}

.header-logo{
  float:left;
  font-size:40px;
  padding:30px;
}

.header-contact {
  float:right;
  padding:30px;
}

.mail-form {
  float:right;
  background-color: #ffcc69;
  margin-right: 10px;
  margin-bottom: px;
}

.btn  {
  padding: 20px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.nav{
 border-bottom: 3px solid #7b7a7a;
 margin-bottom:10;
}
.nav ul{
 display: table;
 margin: 0 auto;
 padding: 0;
 width: 80%;
 text-align: center;
}
.nav ul li{
 display: table-cell;
 min-width: 80px;
 border-right: 1px solid #7b7a7a;
}
.nav ul li:first-child{
 border-left: 1px solid #7b7a7a;
 width:100;
}
.nav ul li a{
 display: block;
 width: 100%;
 padding: 10px 0;
 text-decoration: none;
 color: #545454;
}
.nav ul li a:hover{
 background-color:#F8E750;
}
.nav ul li.current{
 font-weight: bold;
}
.nav ul li.current a{
 border-bottom: 5px solid #00B0F0;
 color: #00B0F0;
}

.TOP{

}

.p-content01__catch{
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 500;
  text-align:center
}

.p-content01__desc{
  text-align:center;
  font-size:40px ;
}

.contents {
  height: 500px;
  margin-top: 100px;

}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 40px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align:center;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 500;
}

.contents-item {
  float: left;
  margin-right: px;
  text-align:center;
  width:25%;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
  text-align:center;
}

/* inputとtextareaのCSSを指定してください */
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float:lef
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  .contents-item {
    width: 50%;
  }
}

/* スマートフォン向けレイアウト */
@media (max-width: 670px) {
  .contents-item {
    width: 100%;
  }
}
