* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.header{
  height:100px;
}

.header-logo{
  float:left;
  font-size:40px;
  padding:20px;
}

.header-contact {
  float:right;
  padding:30px;
}

.facebook {
  float:right;
  background-color: #ffcc69;
  margin-right: 10px;
  margin-bottom: 30px;
}

.btn {
  padding: 20px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}
